# Architecture
#ARCH=ARM

# Nom du porte container (= nom du projet docker)
COMPOSE_PROJECT_NAME=docker-tests-unitaires

# Nom du container principal (sera utilisé par défaut dans les scripts)
MAIN_CONTAINER_NAME=docker_php

# Le paramètre SRC_DIR indique l'emplacement de votre application sur la machine hôte
SRC_DIR=./app